<a href="https://colab.research.google.com/github/Chandini2514/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
N=int(input("enter the number"));
if(N==60):
    print("a")
elif(N==90):
    print("b")
elif(N==30):
    print("c")
else:
    print("d")

enter the number90
b

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
d=int(input("enter the number"))
if(a>b and a>c and a>d):
    print("a")
elif(b>a and b>c and b>d):
    print("b")
elif(c>a and c>b and c>d):
    print("c")
else:
    print("d")

enter the number13
enter the number19
enter the number14
enter the number20
d

In [ ]:
X=int(input("enter age"))
if(X<18):
    print("X is not eligible")
elif(X==18):
    print("X is eligible")
else:
    print("X is eligible for vote")

enter age22
X is eligible for vote

In [ ]:
X=int(input("enter age"))
if(X<=15):
    print("child")
elif(X<=18):
    print("adult")
elif(X>=18):
    print("youth")
elif(X<=30):
    print("older")
else:
    print("elder")

enter age20
youth

In [ ]:
name="chandu is a good girl."
X=name.capitalize()
print(X)

Chandu is a good girl.

In [ ]:
name="chandini is a good girl!"
X=name.casefold()
print(X)

chandini is a good girl!

In [ ]:
name="chandu"
X=name.center(30)
print(X)

            chandu

In [ ]:
name="I love apple,apple are my favourite fruit,apple."
X=name.count("apple")
print(X)

3

In [ ]:
name="Hello,Welcome to my world."
X=name.endswith(".")
print(X)

True

In [ ]:
name="Hello, welcome to my world."
X=name.find("welcome")
print(X)

7

In [ ]:
name="Hello, welcome to my world."
X=name.index("welcome")
print(X)

7

In [ ]:
name="chandu"
X=name.isalpha()
print(X)

True

In [ ]:
name="venkat2514"
X=name.isascii()
print(X)

True

In [ ]:
name="2514"
X=name.isdecimal()
print(X)

True

In [ ]:
name="Venky is a good boy."
X=name.capitalize()
print(X)

Venky is a good boy.

In [ ]:
Text=" my name is chandini."
d=Text.endswith(".")
print(d)
Text="my name is chandini."
d=Text.endswith(".")
print(d)
#end with point (endswith)

True
True

In [ ]:
a=["a","b","c"]
for x in a:
    print(x)

a
b
c

In [ ]:
for x in "chandu":
    print(x)

c
h
a
n
d
u

In [ ]:
for x in "Venkatesh":
     print(x)

V
e
n
k
a
t
e
s
h

In [ ]:
for x in range(2,10):
    if(x%2==0):
       print(x)

2
4
6
8

In [ ]:
for x in range (1,30):
      if(x%2==0):
        print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [ ]:
name=["chandini","Venky","Vishnu"]
for X in name:
     print(X)
     if X == "Venky":
           break

chandini
Venky

In [ ]:
for i in range(5):
     print("*")

*
*
*
*
*

In [ ]:
for i in range (5):
     for j in range(5-i):
      print("*",end=" ")

* * * * * * * * * * * * * * *

In [ ]:
for j in range(0,3):
  for i in range(0,3):
     print("*",end=' ')
     print('',end='\n')

*
*
*
*
*
*
*
*
*

In [ ]:
for i in range(0,5):
     print("*",end=" ")

* * * * *

In [ ]:
n = 5  # Number of rows
for i in range(1, n+1):
    print(' ' * (n-i) + '*' * (2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
n = 5
for i in range(1, n+1):
    print('c' * i)

c
cc
ccc
cccc
ccccc

In [ ]:
n=5
for i in range(n, 0 ,-1):
     print('c'*i)

ccccc
cccc
ccc
cc
c

In [ ]:
n=5
for i in range(n,0,-1):
     print(" "*(n-i)+'c' *(2*i-1))

ccccccccc
 ccccccc
  ccccc
   ccc
    c

In [ ]:
n=5
#upper half
for i in range(1,n+1):
     print(" "*(n-i)+'*'*(2*i-1))
#lower half
for i in range(n-1,0-1):
     print(" "*(n-i)+'*'*(2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
def pattern_2(n):
    for i in range(n, 0, -1):
        print(' '.join(str(i) for _ in range(i)))

n = int(input("Enter the number of rows: "))
pattern_2(n)

Enter the number of rows: 6
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = 5
for i in range(1, n+1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
for i in range(1, 6):
    for j in range(1, 6-i):
        print(" ", end="")
    for j in range(1, i+1):
        print(j, end="")
    for j in range(i-1, 0, -1):
        print(j, end="")
    print()

    1
   121
  12321
 1234321
123454321

In [ ]:
for i in range(5, 0, -1):
    for j in range(1, 6-i):
        print(" ", end="")
    for j in range(1, i+1):
        print(j, end="")
    for j in range(i-1, 0, -1):
        print(j, end="")
    print()

123454321
 1234321
  12321
   121
    1

In [ ]:
for i in range(1, 5):
    for j in range(1, 5):
        print(i, end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:

for i in range(1, 6):
    for j in range(1, 6-i):
        print(" ", end="")
    for j in range(1, i+1):
        print(j, end="")
    for j in range(i-1, 0, -1):
        print(j, end="")
    print()
for i in range(4, 0, -1):
    for j in range(1, 6-i):
        print(" ", end="")
    for j in range(1, i+1):
        print(j, end="")
    for j in range(i-1, 0, -1):
        print(j, end="")
    print()

    1
   121
  12321
 1234321
123454321
 1234321
  12321
   121
    1

In [ ]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [ ]:
for i in range(5, 0, -1):
    for j in range(65, 65 + i):
        print(chr(j), end="")
    print()

ABCDE
ABCD
ABC
AB
A

In [ ]:
for i in range(1, 6):
    for j in range(65, 65 + i):
        print(chr(j), end="")
    for k in range(1, i + 1):
        print(k, end="")
    print()

A1
AB12
ABC123
ABCD1234
ABCDE12345

In [ ]:
for i in range(5, 0, -1):
    for j in range(65, 65 + i):
        print(chr(j), end="")
    print()

ABCDE
ABCD
ABC
AB
A

In [ ]:
name = ["chandu", "Venky", "Vishnu","chinna"]
for x in name:
  print(x)
  if x == "Vishnu":
    break

chandu
Venky
Vishnu

In [ ]:
name = ["chandu", "Venky", "Vishnu"]
for x in name:
  if x == "Venky":
    break
  print(x)

chandu

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
adj = ["chandu", "chandu", "chandu","chandu"]
fruits = ["Venky", "Venky", "Venky","Venky"]

for x in adj:
  for y in fruits:
    print(x, y)

chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky
chandu Venky

In [ ]:
X=[1,2,3,4,5]
A=[i**2 for i in X]
print(A)

[1, 4, 9, 16, 25]

In [ ]:
X=[1,2,3,4,5]
squares=[]
for X in numbers:
  squares.append(X**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
X=[1,2,3,4,5]
A=[]
for X in numbers:
 if X % 2==0:
  A.append(X)
print(A)

[2, 4]

In [ ]:
a=["apple","banana","grapes"]
for i in a:
    print(i)

apple
banana
grapes

In [ ]:
for i in range (5):
     print("c")

c
c
c
c
c

In [ ]:
#include<studio.h>
int main( )
{
Const char*name="sorry":
for(int i=0;i<100;i++)
{
  Printf("%s\n",name);
}
  return 0;
}

SyntaxError: invalid syntax (<ipython-input-4-88462791f91f>, line 2)

In [ ]:

number = int(input("Enter a number: "))
if number % 2 == 0:
    print("number is even.")
else:
    print("number is odd.")

Enter a number: 1425
number is odd.

In [ ]:
a=5
b=9
c=10
print("a is less than b")
print("b is less than c")
print("c is is dig")

a is less than b
b is less than c
c is is dig

In [ ]:
def my_function(*ice_cream):
    print("The ice cream flavour is " + ice_cream[2])
my_function("vannila","Choco","chocolate")

The ice cream flavour is chocolate

In [ ]:
def my_function(child1, child2, child3):
    print("The smallest child is " + child2)
my_function(child1="chandu",child2="vishnu", child3="sandhya")

The smallest child is vishnu

In [ ]:
x=3
y=3
print(x+y)

6

In [ ]:
x=1
print(x)
type(x)

1

int

In [ ]:
x=0.1
print(x)
type(x)

0.1

float

In [ ]:
x=3
x=9
print(x)
type(x)

9

int

In [ ]:
x=7
x="7"
print(x)

7

In [ ]:
x="7"
x=7
print(x)

7

In [ ]:
x=(1,2,3,4,5)
print(x)

(1, 2, 3, 4, 5)

In [ ]:
x=("1","2","3","4","5")
print(x)

('1', '2', '3', '4', '5')

In [ ]:
x={"1","2","3"}
print(x)

{'3', '2', '1'}

In [ ]:
x=["1","2","3"]
print(x)

['1', '2', '3']

In [ ]:
x="1,2,3,4,5"
print(x)

1,2,3,4,5

In [ ]:
l=3
b=4
Area=0.5*l*b
print(Area)

6.0

In [ ]:
l=7
b=4
Area=l*b
print(Area)

28

In [ ]:
a=int(input())
print("eligible for vote",a>=18)
pri≤nt("not eligible for vote",a<=18)

20
eligible for vote True
not eligible for vote False

In [ ]:
a=int(input())
print("a is even", a%2==0)
print("a is odd", a%2!=0)

15
a is even False
a is odd True

In [ ]:

a=int(input())
if(a%4==0 and a%5==0):
   print("fizz,buzz")
elif(a%5==0):
   print("fizz")
elif(a%4==0):
   print("buzz")
else:
   print("not valid")

30
fizz

In [ ]:
A=int(input())
B=int(input())
print(A+B)
print(A-B)
print(A/B)
print(A*B)
print(A%B)

8
9
17
-1
0.8888888888888888
72
8

In [ ]:
a=int(input())
if(20<0):
   print("charging")
elif(20>50):
   print("less uses")
else:
   print("more uses")

70
more uses

In [ ]:
for i in range(2,20,2):
   print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
Fruit=["apple", "grapes", "banana"]
for i in Fruit:
    print(i)

apple
grapes
banana

In [ ]:
Fruit=["apple", "grapes", "banana"]
for Fruit in Fruit:
    print(i)

banana
banana
banana

In [ ]:
r=int(input())
circle=2*3.141*r
print(circle)

10
62.82

In [ ]:
c=int(input())
if(c<10):
   print(True)
else:
   print(false)

9
True

In [ ]:
c=input()
if(c=="green"):
   print("found")
else:
   print("not found")

green
found

In [ ]:
C=int(input())
if(C>10):
   print("greater than")
elif(C==10):
   print("equal")
else:
   print("less than")

73
greater than

In [ ]:
for i in range(1,6):
  for j in range(1,6):
   print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(1,6):
   for j in range(1,6):
     print(j,end="")
   print()

12345
12345
12345
12345
12345

In [ ]:
for i in range(1,10):
    for j in range(1,10):
      print("💙",end="")
    print()

💙💙💙💙💙💙💙💙💙
💙💙💙💙💙💙💙💙💙
💙💙💙💙💙💙💙💙💙
💙💙💙💙💙💙💙💙💙
💙💙💙💙💙💙💙💙💙
💙💙💙💙💙💙💙💙💙
💙💙💙💙💙💙💙💙💙
💙💙💙💙💙💙💙💙💙
💙💙💙💙💙💙💙💙💙

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1,6):
  for j in range(1+i,6):
    print("*",end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:
n=int(input())
for i in range(65,n):
    for j in range(65,i+1):
        print(j,end=" ")
    print()

69
65
65 66
65 66 67
65 66 67 68

In [ ]:
n=int(input())
for i in range(65,n):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print()

69
A
A B
A B C
A B C D

In [ ]:
i=0
n=int(input())
while(i<5):
   print(i)
   i+=1

2
0
1
2
3
4

In [ ]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(6):
    if i==2:
       continue
    print(i)

0
1
3
4
5

In [ ]:
for i in range(6):
    if i==5:
       break
    print(i)

0
1
2
3
4

In [ ]:
#variable : variable is a assign the data and to store the data
#Rule : we should not start which special characters
#like---@chandu,v4chandu,14chandu
# a=2514-> where-a is variable and 2514 is value
#Array=(chandu2514)
#print(array)

In [ ]:
print("chandu14")

chandu14

In [ ]:
print('__chandu14')

__chandu14

In [ ]:
print("chandini__chandu")

chandini__chandu

In [ ]:
a=2514
b="chandu"
print(a,b)

2514 chandu

In [ ]:
#Data types:
#int-> +,- also
#float->decimal values
#string->" "
#boolean->true (or) false 1,0
#list->[] ->any type of data
#tuple->( )

In [ ]:
a=int(input())
print(a)

2514
2514

In [ ]:
a=int(input())
print(a)
print(type(a))

2514
2514
<class 'int'>

In [ ]:
a=float(input())
print(a)

78
78.0

In [ ]:
a=float(input())
print(a)
print(type(a))

25
25.0
<class 'float'>

In [ ]:
a=input()
print(a)

chandu2514
chandu2514

In [ ]:
a=input()
print(a)
print(type(a))

chandu14
chandu14
<class 'str'>

In [ ]:
a="chandu25"
print(True)
print(a)
print(type(a))

True
chandu25
<class 'str'>

In [ ]:
chandu=[1,1.4,"chandu",int]
print(chandu)

[1, 1.4, 'chandu', <class 'int'>]

In [ ]:
a=3
b=5
print(a,b)

3 5