<a href="https://colab.research.google.com/github/Chandini2514/python/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuple =( ),min(x)-> lowest number,max(x)-> highest number,length(x)-> given data length if("apple")->error
#orderd,changeable,allow duplicates
#its stores different data types

In [ ]:
chandu=("apple","banana","chandu","apple")
print(chandu)
print(type(chandu))

('apple', 'banana', 'chandu', 'apple')
<class 'tuple'>

In [ ]:
#set={ }->reperated values cant  print
#for example: set={1,2,3} print(s)->error
#unordered,unchaneable,unindexed

In [ ]:
c={"apple","banana","chandu","apple",1425}
print(c)
print(type(c))

{'chandu', 1425, 'apple', 'banana'}
<class 'set'>

In [ ]:
#dictionary={"name":"chandu","age":19}->we can use key we can change value and key,value->element,column(:)

In [ ]:
x={"name":"chandini","age":19}
print(x)
print(type(x))
print(x.keys())
print(x.values())
print(x.items())

{'name': 'chandini', 'age': 19}
<class 'dict'>
dict_keys(['name', 'age'])
dict_values(['chandini', 19])
dict_items([('name', 'chandini'), ('age', 19)])